.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container__img {
    width: 100px;
    display: inline-block;
}

.header-container__title {
    display: inline-block;
    margin-left: 15px;
    color: #4CAF50;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

.header-container__subtitle{
    margin-bottom: 0px;
    margin-top: 0px;
}

.header-container__controls .shopping-card,
.account-menu-control {
    display: inline-block;
    vertical-align: top;
}
