header {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero {
  text-align: center;
  padding: 50px;
}
.hero__img {
  width: 150px;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form-container__form {
  display: flex;
  flex-direction: column;
}
.form-container__input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.form-container__btn {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}
